<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="layout/menu"></div>
<div class="container">
    <div class="welcome-container">
        <h1>Welcome to WebShop Lab 8</h1>
        <p>Gửi Mail - Schedule Task - Interceptor</p>
    </div>
</div>
</body>
</html>
